BaseballProject/.vs/
BaseballProject/.idea/
BaseballProject/Binaries/
BaseballProject/Build/
BaseballProject/Intermediate/
BaseballProject/Saved/
BaseballProject/Lucia.sln
BaseballProject/Lucia.sln.DotSettings.user
BaseballProject/Plugins/SpinePlugin/Intermediate/
BaseballProject/Plugins/SpinePlugin/Binaries/
!Config/
!Content/
!Source/
!Plugins/
!SpinePlugin.uplugin
!BaseballProject.uproject
*_BuiltData.uasset